<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.microsoft.newsapp" android:versionCode="100" android:versionName="100">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="NewsApp">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDjk7p8eO3zYfZe3NR06UdsX5th-VmEUQY" />
	</application>
</manifest>